img {
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
.container,
.container-fluid{
    padding: 1rem 0;
}
/* header */
header {
    height: 80px;
    background-color: rgb(33, 37, 72);
    color: white;
}
.ms_menu-list {
    list-style-type: none;
}

.ms_menu-list li {
    margin-left: 1rem;
}
/* /header */

/* jumbotron */
.jumbotron{
    background-color: rgb(31, 171, 124);
    color: white;
}
.jumbotron img{
    width: 300px;
}
.star_divisor .hr{
    width: 100px;
    background-color: rgb(117, 117, 117);
    height: 4px;
}
.star_divisor i{
    padding: 0 1rem;
}
/* card section */

.card_section img{
    border-radius: 10px;

}

/* about section */
.about p{
    padding: 2rem;
}
.about{
    background-color: rgb(31, 171, 124);
    text-align: center;
}
.download_btn{
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

/* contact me section */



/* !MEDIA QUERY */

.ms_border{
    border:0;
    border-radius: 0;
    border-bottom: 1px solid gray;
}
.ms_btn{
    background-color:rgb(31, 171, 124) ;
    color: white;
    margin-top: 1rem;
    border-color: transparent;

}
.ms_btn:hover{
    background-color:rgb(155, 255, 222);
    border-color: transparent;
    color: black;
}
.top-footer{
    background-color: rgb(33, 37, 72);
    color: white;
}
.bottom-footer{
    background-color:rgb(40, 40, 47);
    color: white;
}